/* FONTS */
@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}


/* General */
.container {
  max-width: 1140px;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #2d2c40;
  font-size: 16px;

  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;    
}

:focus,:active {
  outline: none;
}
a {
  color: #2d2c40;
}
a:hover {
  color: #32b8da;
}
.clear {
  clear: both;
  overflow: hidden;
}

.button_0 {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.button_0:hover {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.button_0:focus {
  outline: none;
  color: #fff;
}
.button_0:active {
  outline: none;
  color: #fff;
}

.button_1 {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;

  width: 190px;
  border: none;
  border-radius: 24px;
  height: 45px;
  background: none;

  font-family: "MyriadPro", sans-serif;
  font-size: 1.125em;
  font-weight: 600;
  color: #fff;

  background-image: linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
  background-image: -webkit-linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
  background-image: -moz-linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
  background-image: -ms-linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
  background-size: 200% auto;
  transition: 0.7s all !important;
  -webkit-transition: 0.7s all !important;

  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}
.button_1:hover {
  background-position: right center;
  color: #fff;
}

.button_2 {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;

  width: 320px;
  height: 55px;
  border: none;
  border-radius: 25px;
  background: #fff;
  color: #32b8da;
  font-size: 1.250em;
  font-weight: 500;
}
.button_2:hover {
  background: #32b8da;
  color: #fff;
}



/* ALL */
.all {
  width: 100%;
  overflow: hidden;
}

h1 {
  font-size: 3.438em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 3.3px;
}


/*PRELOADER*/
@keyframes wavy-loader {
  0%    { top: 2px; }
  1%    { top: 4px; }
  2%    { top:6px; }
  3%    { top:8px; }
  4%    { top: 10px; }
  5%    { top:12px; opacity: 1; }
  6%    { top: -2px; opacity: 1; }
  7%    { top: -4px; opacity: 1; }
  8%    { top: -6px; opacity: 1; }
  9%    { top: -8px; opacity: 1; }
  10%   { top: -10px; opacity: 1; }
  11%   { top: -12px; opacity: 1; }
  12%   { top: 0; opacity: .5; }
  100%  { top: 0; opacity: .5; }
}
@-webkit-keyframes wavy-loader {
  0%    { top: 2px; }
  1%    { top: 4px; }
  2%    { top:6px; }
  3%    { top:8px; }
  4%    { top: 10px; }
  5%    { top:12px; opacity: 1; }
  6%    { top: -2px; opacity: 1; }
  7%    { top: -4px; opacity: 1; }
  8%    { top: -6px; opacity: 1; }
  9%    { top: -8px; opacity: 1; }
  10%   { top: -10px; opacity: 1; }
  11%   { top: -12px; opacity: 1; }
  12%   { top: 0; opacity: .5; }
  100%  { top: 0; opacity: .5; }
}
.volosunov {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500;
}
.volosunov .spinner {
  position: absolute;
  left: 50%;
  top: 50%;    
  width: 84px;
  height: 18px;
  margin: -9px 0 0 -42px;
}
.volosunov .spinner span {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 2px;
  background-color: #32b8da;
  opacity: .5;
}
.volosunov .spinner span:nth-child(2n) {
  background-color: #32b8da;
}
.volosunov .spinner span:first-child {
  animation: wavy-loader 2.5s .1s ease-out infinite;
  -webkit-animation: wavy-loader 2.5s .1s ease-out infinite;
}

.volosunov .spinner span:nth-child(2) {
  animation: wavy-loader 2.5s .2s ease-out infinite;
  -webkit-animation: wavy-loader 2.5s .2s ease-out infinite;
}

.volosunov .spinner span:nth-child(3) {
  animation: wavy-loader 2.5s .3s ease-out infinite;
  -webkit-animation: wavy-loader 2.5s .3s ease-out infinite;
}

.volosunov .spinner span:nth-child(4) {
  animation: wavy-loader 2.5s .4s ease-out infinite;
  -webkit-animation: wavy-loader 2.5s .4s ease-out infinite;
}

.volosunov .spinner span:nth-child(5) {
  animation: wavy-loader 2.5s .5s ease-out infinite;
  -webkit-animation: wavy-loader 2.5s .5s ease-out infinite;
}


/* HEADER */
.top_block_header {
  height: 50px;
}
.top_block_header address, .top_block_header a {
  display: inline-block;
  font-size: 1.125em;
  font-weight: 500;
  margin: 0;
}
.top_block_header i {
  font-size: 1.125em;
  color: #32b8da;
  margin-right: 3px;
}

.mid_block_header {
  height: 100px;
  border-top: 2px solid #f5f5f9;
  border-bottom: 2px solid #f5f5f9;
}
.Logo {
  display: block;
  width: 365px;
  height: 70px;
  background: url("../img/Logo.png") no-repeat;
  background-position: center;
  background-size: contain;
}
.mid_block_header_1 {
  min-width: 39%;
}

.mid_block_header_2 {
  max-width: 19.3%;
}
.mid_block_header_3 {

}
.mid_block_header_4 {
  text-align: right;
}
.mid_block_header_text p {
  font-family: 'MyriadPro', sans-serif;
  font-size: 1.250em;
 
}
.mid_block_header_text span, .mid_block_header_text a {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
.mid_block_header_text i {
  color: #32b8da;
  margin-right: 5px;
}






/* Menu */
.menu_div_off{
  width: 100%;
  height: 50px;
  display: none;
}
.menu_div_off.active {
  display: block;
}
.menu_div .container,.menu_div .row {
  height: 100%;
}
.menu_div .container {

}
.menu_div {
  width: 100%;
  height: 50px;
  /*overflow: hidden;*/
  background: transparent;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  z-index: 11000;
}

.menu_div.scroll {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;    
  margin-top: 0px;
}

.menu_div.active {
  background: #fff;
  height: auto;
  padding-bottom: 10px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.menu_div.scroll.active {
  
}
.menu_div.scroll .menu_top li a {

}
.menu_div.scroll .menu_top li.active a,
.menu_div.scroll .menu_top li a.mPS2id-highlight {
    color: #32b8da;
}

.menu_div > div {
  height: 100%;
}

.menu_top {
  width: 100%;
  height: 100%;

  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
.menu_top li{
  height: 100%;
  margin-right: 45px;
}
.menu_top li:last-child{
  margin-right: 0px;
}
.menu_top li a {
  position: relative;
  font-size: 1.125em;
  font-weight: 500;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}


.menu_top  li.current_page_item a,.menu_top  li.active a,.menu_top  li a.mPS2id-highlight {
  color: #32b8da;
}
.menu_top li:hover a  {
  color: #32b8da;

}


.menu_top li a:after {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  background: #32b8da;
  width: 0;
  height: 2px;

  -webkit-transition: width .3s ease 0s, left .3s ease 0s;
  -moz-transition: width .3s ease 0s, left .3s ease 0s;
  -ms-transition: width .3s ease 0s, left .3s ease 0s;
  -o-transition: width .3s ease 0s, left .3s ease 0s;
  transition: width .3s ease 0s, left .3s ease 0s;
}
.menu_top  li.current_page_item a:after,.menu_top  li.active a:after,.menu_top  li a.mPS2id-highlight:after {
  left: 0px;
  width: 100%; 
}
.menu_top li:hover a:after  {
  left: 0px;
  width: 100%;
}




.button_mobi_menu {
  display: none;
  width: 50px;
  height: 35px;
  float: right;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.button_mobi_menu span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: rgb(37, 37, 37);
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.menu_div.scroll .button_mobi_menu span {
  background: rgb(37, 37, 37);
}

.button_mobi_menu  span:nth-child(1) {
 top: 0px;
}

.button_mobi_menu  span:nth-child(2),.button_mobi_menu span:nth-child(3) {
 top: 15px;
}

.button_mobi_menu  span:nth-child(4) {
 top: 30px;
}

.button_mobi_menu.active span:nth-child(1) {
 top: 15px;
 width: 0%;
 left: 50%;
}

.button_mobi_menu.active span:nth-child(2) {
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
}

.button_mobi_menu.active span:nth-child(3) {
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
}

.button_mobi_menu.active span:nth-child(4) {
 top: 15px;
 width: 0%;
 left: 50%;
}

.button_mobi_menu .buttom_menu_iner {
  display: block;
  width: 40px;
  height: 2px;
  background: #fff;

  transform-origin: 0px 0px;
  -moz-transform: rotate(0deg) translateY(0px) translateX(0px);
  -ms-transform: rotate(0deg) translateY(0px) translateX(0px);
  -webkit-transform: rotate(0deg) translateY(0px) translateX(0px);
  -o-transform: rotate(0deg) translateY(0px) translateX(0px);
  transform: rotate(0deg) translateY(0px) translateX(0px);
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
}
.button_mobi_menu .buttom_menu_iner_1 {
  position: absolute;
  top: 15px;
  left: 0px;
}
.button_mobi_menu .buttom_menu_iner_2 {
  position: absolute;
  top: 25px;
  left: 0px;
}
.button_mobi_menu.active .buttom_menu_iner_1 {
  -moz-transform: rotate(27deg) translateY(-5px);
  -ms-transform: rotate(27deg) translateY(-5px);
  -webkit-transform: rotate(27deg) translateY(-5px);
  -o-transform: rotate(27deg) translateY(-5px);
  transform: rotate(27deg) translateY(-5px);
}

.button_mobi_menu.active .buttom_menu_iner_2 {
  -moz-transform: rotate(-27deg) translateY(3px);
  -ms-transform: rotate(-27deg) translateY(3px);
  -webkit-transform: rotate(-27deg) translateY(3px);
  -o-transform: rotate(-27deg) translateY(3px);
  transform: rotate(-27deg) translateY(3px);
}


/* Block 1 (Content) */
.block_1{
   background: url("../img/bac_1.jpg") no-repeat;
   background-position: center;
   background-size: cover;
   height: 400px;
}
.block_1 .row{
   height: 400px;
}
.block_1 .title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 3.750em;
  font-weight: 700;
  line-height: 72px;
  color: #fff;

  border-radius: 5px;
  background-color: rgba(245, 245, 249, 0.250);
  border-radius: 5px;
  padding: 0 11px;
  margin-top: 10px;
}
.block_1 .title:first-child{
  margin: 0;
}
.block_1 .title-bot {
  font-size: 1.500em;
  color: #fff;
  margin: 9px 0;
}
.button_2 i {
  margin-right: 5px;
}


/* Block 2 (Content) */
.block_2{
  padding-top: 45px;
  padding-bottom: 51px;
}

.title_p {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.500em;
  font-weight: 700;
  color: #373c3f;
  margin-bottom: 25px;
}
.title_p:before{
  content: '';
  position: absolute;
  bottom: -22px;
  left: 50%;
  display: block;
  width: 280px;
  height: 17px;
  margin-left: -140px;
  background: url("../img/tittle_bot_img_1.png") no-repeat;
  background-position: center;
}

.services {
  text-align: center;
  width: 220px;
  height: 220px;
  border-radius: 50%;

  border-width: 7px;
  border-color: rgba(255, 255, 255,0.5);
  border-style: solid;

  margin: 0 auto;
  margin-top: 21px;

  background: #f5f5f9;
  transition: 0.7s all !important;
  -webkit-transition: 0.7s all !important;

  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}
.services:hover {
  border-color: rgba(7,167,227,0.5);
}
.services_p {
  font-size: 1.250em;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}
/*.services:before {
  content: "\f111";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  color: transparent;
  font-size: 200px;

  background-image: linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
  background-image: -webkit-linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
  background-image: -moz-linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
  background-image: -ms-linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
  background-size: 200% auto;
  transition: 0.7s all !important;
  -webkit-transition: 0.7s all !important;

  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}
.services:hover:before {
  background-position: right center;
}*/


.services .button_1 {
  width: 165px;
  border-radius: 19px;
  height: 38px;

  opacity: 0;
}
.services.services_1 {
  background: url("../img/services_1.jpg") no-repeat;
  background-position: center;
}
.services.services_2 {
  background: url("../img/services_2.jpg") no-repeat;
  background-position: center;
}
.services.services_3 {
  background: url("../img/services_3.jpg") no-repeat;
  background-position: center;
}
.services.services_4 {
  background: url("../img/services_4.jpg") no-repeat;
  background-position: center;
}
.services:hover .button_1 {
  opacity: 0.85;
}




/* Block 3 (Content) */
.block_3{
  background: url("../img/background-pattern-blue2.jpg") repeat; 
  padding-top: 45px;
  padding-bottom: 37px;
}
.block_3 .title_p {
  color: #fff;
}
.block_3 .title_p:before{
  background: url("../img/tittle_bot_img_2.png") no-repeat;
  background-position: center;
}

.slider_akciya {
  margin: 0 auto;
  margin-top: 76px;
  position: relative;
  width: 100%;
  max-width: 790px;
  max-height: 400px; 
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.5);
}
.slider_akciya:before {
  content: "";
  display: block;
  padding-top: 50.632911%;
}
.slider_akciya .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.slider_akciya .slick-list,.slider_akciya .slick-track {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.slider_akciya  .button_1 {
  position: absolute;
  left: 10%;
  bottom: 5%;
  width: 185px;
  height: 44px;
  text-transform: uppercase;
  z-index: 100;
  opacity: 0.85;
}


.item_slider {
  position: relative;

  background: url("../img/slider_1.jpg") no-repeat;
  background-size: cover;

}

.item_slider_2 {
  background: url("../img/slider_2.jpg") no-repeat;
  background-size: cover;
}
.item_slider_3 {
  background: url("../img/slider_3.jpg") no-repeat;
  background-size: cover;
}
.item_slider_4 {
  background: url("../img/slider_4.jpg") no-repeat;
  background-size: cover;
}
.item_slider_5 {
  background: url("../img/slider_5.jpg") no-repeat;
  background-size: cover;
}
.item_slider_6 {
  background: url("../img/slider_6.jpg") no-repeat;
  background-size: cover;
}
.item_slider_7 {
  background: url("../img/slider_7.jpg") no-repeat;
  background-size: cover;
}
.slick-list {
    margin: 0 0px;
    padding: 0 0px;
}
.slick-prev, .slick-next {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  top: calc(50% - 30px);
  opacity: 1;
  z-index: 1;
}

.slick-prev {
    left: 0px;
    width: 60px;
    height: 60px;
    background: #fff;
    transition: 0.7s all !important;
    -webkit-transition: 0.7s all !important;

    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    -webkit-clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
}
.slick-next {
    right: 0px;
    width: 60px;
    height: 60px;
    background: #fff;
    -webkit-clip-path: polygon(17% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(17% 0, 100% 0%, 100% 100%, 0% 100%);

    background-image: linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
    background-image: -webkit-linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
    background-image: -moz-linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
    background-image: -ms-linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
    background-size: 200% auto;
    transition: 0.7s all !important;
    -webkit-transition: 0.7s all !important;

    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}



.slick-prev:hover,.slick-prev:active,.slick-prev:focus  {
    background-image: linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
    background-image: -webkit-linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
    background-image: -moz-linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
    background-image: -ms-linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 51%,rgb(50,218,195) 100%) !important;
    background-size: 200% auto;
    background-position: right center;
    opacity: 1;
}
.slick-next:hover,.slick-next:active,.slick-next:focus {
  background-position: right center;
  opacity: 1;
}
.slick-prev:before {
    content: "\f104";
    color: #082b4f;
    padding-right: 7px;
}
.slick-next:before {
    content: "\f105";
    color: #fff;
    padding-left: 7px;
}
.slick-prev:before, .slick-next:before {
    font-family: 'FontAwesome';
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 32px;
    opacity: 1;
}

.slick-prev:hover:before, .slick-next:hover:before {
  color: #fff;
}





.slick-dots {
    height: 45px;
    bottom: auto;
    top: auto;
    bottom: 0;    
    width: 30%;
    left: 35%;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}
.slick-dots li {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0 5px;
}
.slick-dots li button {
    opacity: 1;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
.slick-dots li button:before {
    content: '';
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 50%;
}
.slick-dots li.slick-active button {
    opacity: 1;
    background: none;
    background-image: linear-gradient(-152deg,rgb(7,167,227) 0%,rgb(50,218,195) 100%) !important;
    background-image: -webkit-linear-gradient(-152deg,rgb(7,167,227) 0%,rgb(50,218,195) 100%) !important;
    background-image: -moz-linear-gradient(-152deg,rgb(7,167,227) 0%,rgb(50,218,195) 100%) !important;
    background-image: -ms-linear-gradient(-152deg,rgb(7,167,227) 0%,rgb(50,218,195) 100%) !important;
    border: none;
}
.slick-dots li button:hover {
    opacity: 1;
    background: none;
    background-image: linear-gradient(-152deg,rgb(7,167,227) 0%,rgb(50,218,195) 100%) !important;
    background-image: -webkit-linear-gradient(-152deg,rgb(7,167,227) 0%,rgb(50,218,195) 100%) !important;
    background-image: -moz-linear-gradient(-152deg,rgb(50,218,195) 0%,rgb(7,167,227) 0%,rgb(50,218,195) 100%) !important;
    background-image: -ms-linear-gradient(-152deg,rgb(7,167,227) 0%,rgb(50,218,195) 100%) !important;
    border: none;
}

.line {
  display: block;
  height: 17px;
  width: 100%;
  margin-top: 22px;
  margin-bottom: 12px;
  background: url("../img/Devider.png") no-repeat;
  background-position: center;
}


.title_p_2 {
  color: #fff;
  font-size: 1.875em;
  font-weight: 700;
  text-align: center;
}
.title_p_2:after {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background: #ffb600;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 24px;
}
.video_you_tube {
  position: relative;
  margin-top: -17px;
  width: 100%;
  max-width: 540px;
}
.video_you_tube iframe{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}
.video_you_tube:before {
  content: "";
  display: block;
  padding-top: 57.4074%;

}
.text_w {
  color: #fff;
}
.text_b {
  color: #373c3f;
}

.text_w p, .text_b p {
  font-size: 1.125em;
  line-height: 1.275;
  margin-bottom: 18px;
}
.text_w p span,.text_w p span{
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}


/* Block 4 (Content) */
.block_4{
  padding-top: 51px;
  padding-bottom: 40px;
}
.title_top_p_2 {
  font-size: 1.250em;
  margin-bottom: -10px;
  min-height: 30px;
}
.block_4 .title_p_2 {
  color: #07a7e3;
  text-align: left;
}
.block_4 .title_p_2:after {
  background: #32dac3;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 11px;
}

ul.content_ul {
  padding-left: 32px;
}
ul.content_ul li {
  position: relative;
  font-size: 1.125em;
  line-height: 1.6;
  opacity: 0;
}
ul.content_ul li:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -33px;
  display: block;
  width: 9px;
  height: 9px;
  background: #373c3f;
}
.block_4 .line {
  margin-top: 32px;
  margin-bottom: 35px;
  background: url("../img/Deviders2.png") no-repeat;
  background-position: center;
}
.block_4 .button_1 {
  width: 285px;    
  margin-top: 30px;  
}
.block_4 .button_1 i{
  margin: 0 10px; 
}


/* Block 5 (Content) */
.block_5{
  padding-top: 60px;
  min-height: 608px;
  padding-bottom: 40px;
  background: url("../img/bac_5.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.title_block_2 {
  text-align: center;
}
.title_block_2 p{
  text-transform: uppercase;
  color: #fff;
}
.title_block_2 .title_top_p_2:before {
  content: '';
  display: block;
  width: 70px;
  height: 24px;
  border: 4px solid #ffb600;
  border-bottom: none;
  margin: 0 auto;
  margin-bottom: 23px;
}
.title_block_2 .title_top_p_2 {
  
}
.title_block_2 .title_p_2:after {
    margin-top: 18px;
    margin-bottom: 12px;
}
.title_bot_p_2 {
  font-size: 1.250em;
  font-weight: bold;
}

.grafic_div img {
  display: block;
  max-width: 759px;
  margin: 0 auto;
  margin-top: 53px;
}


/* Block 6 (Content) */
.block_6{
  padding-top: 42px;
  padding-bottom: 40px;
}

.block_6 .title_p:before{
  background: url("../img/tittle_bot_img_1.png") no-repeat;
  background-position: center;
}
.block_6 .line {
  background: url("../img/Deviders2.png") no-repeat;
  background-position: center;
}

.block_6 .title_p_2{
  color: #07a7e3;
}
.block_6 .title_p_2:after {
    background: #32dac3;
    margin-top: 8px;
    margin-bottom: 28px;
}
.img_div img {
  max-width: 100%;
}

.text_b p {
  line-height: 1.45;
  margin-top: -5px;
}

.block_7 {
  min-height: 666px;
  background: url("../img/bac_7.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 62px;
  padding-bottom: 30px;
}
.block_7 .title_block_2 .title_p_2:after {
    margin-top: 18px;
    margin-bottom: 49px;
}
.block_7_left .title_p_2 {
  text-align: left;
  color: #fff;
}
.block_7_left .title_p_2:after {
  margin-left: 0;
  margin-top: 8px;
  margin-bottom: 11px;
}
.block_7_left .content_ul {
  color: #fff;
}
.block_7_left ul.content_ul li:before {
    background: #fff;
}
.block_7_left .content_ul {
  margin-bottom: 11px;
}
.slider_akciya_right {
  max-width: 540px;
  margin: 0;
  margin-top: 11px;
}

.slider_akciya_right:before {
  content: "";
  display: block;
  padding-top: 60.555555%;
}

.slider_akciya .slider2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.slider_akciya_right .slick-dots {
    bottom: -43px;
}


/* Block 8 (Content) */
.block_8 {
    padding-top: 51px;
    padding-bottom: 43px;
}

/* Block 9 (Content) */
.block_9{
  padding-top: 66px;
  background: url("../img/background-pattern-blue2.jpg") repeat;
  padding-bottom: 45px;
}

.block_9_iner {
  margin-top: 46px;
}
.block_9_iner p {
  font-size: 1.625em;
  color: #fff;

  max-width: 918px;
  margin: 0 auto;

}
.block_9_iner p span {
  color: #ffb600;
  font-weight: 500;
}
.block_9_iner p:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f101";
  top: 0;
  left: 0;
  color: #ffb600;
  margin-right: 9px;
}


/* Block 10 (Content) */
.block_10 {
  padding-top: 44px;
  padding-bottom: 50px;
}
.button_1.big_button {
  width: 285px;
}

.block_10_iner .title_p_2 {
  color: #07a7e3;
  text-align: left;
}
.block_10_iner {
  margin-top: 8px;
}
.block_10_iner .title_p_2:after {
  background: #32dac3;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 11px;
}

.content_ul p {
  font-size: 1.125em;
  line-height: 1.45;
  margin-bottom: 12px;
}
.content_ul p:last-child {
  margin-bottom: 0px;
}
.content_ul p span {
   text-decoration: underline;
}


/* Block 11 (Content) */
.block_11 {
  min-height: 666px;
  background: url(../img/bac_11.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 62px;
  padding-bottom: 30px;
}


/* Block 12 (Content) */
.block_12 {
  padding-top: 53px;
  padding-bottom: 41px;
}
.block_12 .img_div {
  margin-top: -10px;
}
.block_12 .line {
  margin-top: 3px;
  margin-bottom: 8px;
}
.text_b .title_p_2 {
  text-align: left;
}
.text_b .title_p_2:after {
  background: #32dac3;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 11px;
}

.block_12_iner {
  margin-top: 8px;
}
.block_12_iner .title_top_p_2 {
  text-align: center;
}
.block_12_iner .title_p_2:after {
    margin-bottom: 11px;
}


/* Block 13 (Content) */
.block_13 {
  min-height: 615px;
  background: url(../img/bac_13.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 73px;
  padding-bottom: 30px;
}

.content_ul p em {
  font-weight: bold;
  color: #ffb600;
}
.orang_div {
  color: #fff;
}

.orang_div .title_p_2 {
  color: #fff;
  text-align: left;
}
.orang_div .title_p_2:after {
  background: #ffb600;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 11px;
}

.orang_div ul.content_ul {
  padding-left: 32px;
}
.orang_div ul.content_ul li {
  position: relative;
  font-size: 1.125em;
  line-height: 1.6;
  opacity: 0;
}
.orang_div ul.content_ul li:before {
  background: #fff;
}

.orang_div .button_1 {
  background-image: linear-gradient(-152deg,#f09b1c 0%,#ffc062 51%,#ffa319 100%) !important;
  background-image: -webkit-linear-gradient(-152deg,#f09b1c 0%,#ffc062 51%,#ffa319 100%) !important;
  background-image: -moz-linear-gradient(-152deg,#f09b1c 0%,#ffc062 51%,#ffa319 100%) !important;
  background-image: -ms-linear-gradient(-152deg,#f09b1c 0%,#ffc062 51%,#ffa319 100%) !important;
  background-size: 200% auto;
  width: 285px;    
  margin-top: 15px;  
}
.orang_div .button_1 i{
  margin: 0 10px; 
}


/* Block 14 (Content) */
.block_14 {
  padding-top: 45px;
  padding-bottom: 43px;
}


/* Block 15 (Content) */
.block_15 {
  padding-bottom: 32px;
  background: url("../img/background-pattern-blue2.jpg") repeat;
}

.block_15 .line {
  background: url("../img/Deviders4.png") no-repeat;
  background-position: center;
  margin-top: 28px;
  margin-bottom: 15px;
}


/* Block 16 (Content) */
.block_16 {
  padding-top: 60px;
  padding-bottom: 99px;
}

.block_16 .title_block_2 .title_top_p_2:before {
    border-color: #32dac3;
}
.block_16 .title_block_2 .title_top_p_2 {
  color: #373c3f;
  text-align: center;
}
.block_16 .title_block_2 .title_p_2 {
  color: #373c3f;
  text-align: center;
}
.block_16 .title_block_2 .title_p_2:after {
  background: #32dac3;
  margin: 0 auto; 
  margin-top: 18px;
  margin-bottom: 48px;
}
.block_16 .line {
    margin-top: 15px;
    margin-bottom: 15px;
}
ul.content_ul_little li {
  line-height: 1.5;
}
.block_16  .button_1 {
  margin-top: 20px;
}

/* Footer */
.footer_div {
  
}
.footer_div .row{
    min-height: 120px;
}
.logo_color {
  background: url('../img/Logo_color.png') no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 0;
}

.store_bot a {
  display: inline-block;
  width: 135px;
  height: 40px;
  margin: 0;
  float: right;
}
.store_bot a.apple_store {
  width: 120px;
  margin-left: 10px;
  margin-left: 56px;
}

.social_bot {
  text-align: center;
}
.social_bot a {
  font-size: 1.850em;
  color: #363636;
  margin: 0 16px;
}
.social_bot a:hover {
  color: #4a90e2;
}



.footer_div_bot {
  background: #363636;
  color: #b7b7b7;
}
.footer_div_bot .row {
  min-height: 40px;
}

.footer_div_bot a {
  display: inline-block;
  color: #b7b7b7;
  font-weight: 300;
  font-size: 0.875em;
  margin-right: 105px;
  letter-spacing: 0.1px;
}
.footer_div_bot a:last-child {
  margin-right: 0px;
}
.footer_div_bot a:hover {
  text-decoration: underline;
}

.footer_div_bot .copy {
  text-align: right;
  font-weight: 300;
  font-size: 0.875em;
  letter-spacing: 0.1px;
}


/* Form */
.form_input_0 {
  width: 100%;
  height: 50px;
  border: none;
  border: 1px solid rgb(215, 215, 215);
  text-align: left;
  border-radius: 5px;
  color:#959595; 
  padding-left: 20px;
  font-size: 1.125em;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.form_input_0::-webkit-input-placeholder       {font-weight: 300;color: #959595; text-indent: 0px;transition: text-indent 1.4s ease;}
.form_input_0::-moz-placeholder                {font-weight: 300;color: #959595; text-indent: 0px;transition: text-indent 1.4s ease;}
.form_input_0:-moz-placeholder                 {font-weight: 300;color: #959595; text-indent: 0px;transition: text-indent 1.4s ease;}
.form_input_0:-ms-input-placeholder            {font-weight: 300;color: #959595; text-indent: 0px;transition: text-indent 1.4s ease;}

.form_input_0:focus::-webkit-input-placeholder {text-indent: -200%;transition: text-indent 1.4s ease;}
.form_input_0:focus::-moz-placeholder          {text-indent: -200%;transition: text-indent 1.4s ease;}
.form_input_0:focus:-moz-placeholder           {text-indent: -200%;transition: text-indent 1.4s ease;}
.form_input_0:focus:-ms-input-placeholder      {text-indent: -200%;transition: text-indent 1.4s ease;}

.message {    
  resize: none;
  height: 100px;
  padding-top: 10px;
}
.message:focus {
  outline: none;
}

input.form_input_0:focus:required:valid  {
 border-color: green;
}

input.form_input_0:focus:required:invalid {
 border-color: #ef3f44;
}




/* Modal */
.modal {
  z-index: 100500;
}
.modal-dialog {
  max-width: 830px;
  margin-top: 100px;
}
.modal .modal-dialog_2 {
  max-width: 750px;
  margin: 0 auto;
  top: calc(50% - 250px);
}

.modal-body_1 {    
  padding: 30px 20px;
  padding-right: 10px;
  height: 100%;
  text-align: center;
  border-radius: 5px;
}
.modal .close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  opacity: 1;
  font-size: 1.125em;
  color: #222;
}
.modal .close:hover {
  opacity: 0.8;
}

.modal .title {    
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(37, 37, 37);
  letter-spacing: 2.5px;
  margin-bottom: 15px;
}
.modal .content_modal_iner p {    
  color: #0d094c;
  font-size: 1.125em;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 0.2px;
  line-height: 1.65;
  text-align: left;
}


/* Custom Scrollbar */
.custom_scrollbar {
  max-height: 400px;
  overflow: auto;
}


/* Animate */
.mov {
  opacity: 0;
}
.mov_p > p {
  opacity: 0;
}
.mov_div > div {
  opacity: 0;
}
